FLTR_HTTP_PORT=8080
FLTR_ALLOW_UPSTREAM=
FLTR_BLOCK_UPSTREAM=
FLTR_BLOCKED_FILE=/config/block_rules.json
FLTR_CASE_SENSITIVE=false
FLTR_MAX_BODY_SIZE=10 MB
FLTR_RULES_FILE=./block_rules.json
PUID=911
PGID=911
TZ=Etc/UTC
